* {
	font-size: 1.5rem;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

a {
	color: brown;
	text-decoration: none;
}

a:hover {
	color: blueviolet;
	text-decoration: underline;
}

a.current {
	font-weight: bold;
}

pre>h3 {
	font-family: inherit;
}

h3>a {
	font-size: 1rem;
	opacity: 0.75;
}

ol {
	margin-left: 10px;
}

ol>li.loading {
	list-style-type: none;
}

@media (min-width: 1024px) {
	* {
		font-size: 1.25rem;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.5rem;
	}
}

@media (max-width: 1024px) {
	pre {
		text-wrap: auto;
	}
}

h1,
h2 {
	text-align: center;
}

h1>a {
	font-size: inherit;
}